# Last Modified: Tue May 16 10:52:33 2017
#include <tunables/global>

/usr/sbin/nginx flags=(complain) {
  #include <abstractions/apache2-common>
  #include <abstractions/base>
  #include <abstractions/dovecot-common>
  #include <abstractions/nis>
  #include <abstractions/postfix-common>

  capability dac_override,
  capability net_bind_service,
  capability setgid,
  capability setuid,

  deny /etc/passwd r,

  /etc/group r,
  /etc/nginx/** r,
  /etc/nsswitch.conf r,
  /etc/ssl/openssl.cnf r,
  /run/nginx.pid rw,
  /usr/sbin/nginx mr,
  # log should probably be updated from write to create+append when supported
  /var/log/nginx/*.log w,
  /var/www/** r,

}
